<div id="container">
<mat-toolbar>
    <mat-icon class="mx-2 " matSuffix>description</mat-icon><h1 class="fw-bold">Encuesta de servicios</h1>
    <span class="example-spacer"></span>
        <a class="navbar-brand" href="#">
          <img src="../../../assets/itsch.png" alt="" width="90" >
        </a>
</mat-toolbar>
<div class="content">
 <router-outlet></router-outlet> 
</div>
<footer class="container-fluid">
  <div id="footer1" class="row">
    <div class="col-md-5 col-md-offset-1">
        <h3>Términos y Condiciones</h3>
          <p>La información proporcionada mediante tus respuestas es confidencial y esclusiva del área de tutorias.</p>
      </div>
      
      <div class="col-md-5" id="contact">
        <h3>Contacto</h3>
              <ul>
                      <li><i class="fa fa-home" aria-hidden="true"></i> Avenida Ing. Carlos Rojas Gutiérrez Fracc. Valle de la Herradura</li>
                      <li><i class="fa fa-phone" aria-hidden="true"></i> Telefono: 1549006 EXT 160</li>
              </ul>    
      </div>
      
      <div class="col-md-1">
      </div><!-- End col-md-4 -->
      
  </div>
  <div id="footer2" class="row">
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium modi quibusdam vel! Excepturi, autem nesciunt laudantium dicta sint deserunt officia perferendis obcaecati.</h2>
  </div>
</footer>
</div>
