mat-toolbar{
    background-color: #57060c;
    color: #ffffff;
}
h1{
    font-family: Verdana;
    
}
.example-spacer {
    flex: 1 1 auto;
  }
 
  #container{
    min-height: 100%;
    position: relative;
  }
  .content{
    padding-bottom: 200px;
  }
  footer{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #ffffff;
  }
  #footer1{
    background-color: #57060c;
    width: 100%;
    height: 100px;
  }
  #footer2{
    background-color: #9b8d41;
    width: 100%;
    height: 100px;
  }
