<div class="container-fluid">
    <div class="row">
        <div class="card col-12">
            <div class="card-header  card-header-icon">
              <div class="card-icon">
                <i class="fa-solid fa-file-invoice"></i>
              </div>
              <h1 class="fw-semibold">Informe</h1>
            </div>
              <div class="card-body pb-5">
                <table id="datatableexample" class="display cell-border" style="width:100%">
                    <thead>
                        <tr >
                            <th rowspan="2" class="text-center border column-primary text-white">Servicio</th>
                            <th rowspan="2" class="text-center border column-primary text-white">Alumnos</th>
                            <th class="text-center border column-primary text-white" colspan="2">Satisfaccion Total</th>
                            <th class="text-center border column-primary text-white" colspan="2">Horario</th>
                            <th class="text-center border column-primary text-white" colspan="2">Disponibilidad</th>
                            <th class="text-center border column-primary text-white" colspan="2">Atencion</th>
                            <th class="text-center border column-primary text-white" colspan="2">Amabilidad</th>
                        </tr>
                        <tr>
                            <th class="border text-white column-satisfecho text-center">Satisfecho</th>
                            <th class="border text-white column-insatisfecho text-center">Insatisfecho</th>
                            <th class="border text-white column-satisfecho text-center">Satisfecho</th>
                            <th class="border text-white column-insatisfecho text-center">Insatisfecho</th>
                            <th class="border text-white column-satisfecho text-center">Satisfecho</th>
                            <th class="border text-white column-insatisfecho text-center">Insatisfecho</th>
                            <th class="border text-white column-satisfecho text-center">Satisfecho</th>
                            <th class="border text-white column-insatisfecho text-center">Insatisfecho</th>
                            <th class="border text-white column-satisfecho text-center">Satisfecho</th>
                            <th class="border text-white column-insatisfecho text-center">Insatisfecho</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td>Clubes</td>
                            <td>{{(dataClubes.total)}}</td>
                            <td>{{(dataClubes.satisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataClubes.noSatisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataClubes.satisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataClubes.noSatisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataClubes.satisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataClubes.noSatisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataClubes.satisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataClubes.noSatisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataClubes.satisfechoAmabilidad).toFixed(2)}}%</td>
                            <td>{{(dataClubes.noSatisfechoAmabilidad).toFixed(2)}}%</td>
                        </tr>
                
                        <tr>
                            <td>Servicios Escolares</td>
                            <td>{{(dataControlEscolar.total)}}</td>
                            <td>{{(dataControlEscolar.satisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataControlEscolar.noSatisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataControlEscolar.satisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataControlEscolar.noSatisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataControlEscolar.satisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataControlEscolar.noSatisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataControlEscolar.satisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataControlEscolar.noSatisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataControlEscolar.satisfechoAmabilidad).toFixed(2)}}%</td>
                            <td>{{(dataControlEscolar.noSatisfechoAmabilidad).toFixed(2)}}%</td>
                        </tr>
                
                        <tr>
                            <td>Tutorias</td>
                            <td>{{(dataTutorias.total)}}</td>
                            <td>{{(dataTutorias.satisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataTutorias.noSatisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataTutorias.satisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataTutorias.noSatisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataTutorias.satisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataTutorias.noSatisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataTutorias.satisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataTutorias.noSatisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataTutorias.satisfechoAmabilidad).toFixed(2)}}%</td>
                            <td>{{(dataTutorias.noSatisfechoAmabilidad).toFixed(2)}}%</td>
                        </tr>
                
                        <tr>
                            <td>Biblioteca</td>
                            <td>{{(dataBiblioteca.total)}}</td>
                            <td>{{(dataBiblioteca.satisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataBiblioteca.noSatisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataBiblioteca.satisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataBiblioteca.noSatisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataBiblioteca.satisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataBiblioteca.noSatisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataBiblioteca.satisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataBiblioteca.noSatisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataBiblioteca.satisfechoAmabilidad).toFixed(2)}}%</td>
                            <td>{{(dataBiblioteca.noSatisfechoAmabilidad).toFixed(2)}}%</td>
                        </tr>
                
                        <tr>
                            <td>Centro Computo</td>
                            <td>{{(dataCentroDeComputo.total)}}</td>
                            <td>{{(dataCentroDeComputo.satisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataCentroDeComputo.noSatisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataCentroDeComputo.satisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataCentroDeComputo.noSatisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataCentroDeComputo.satisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataCentroDeComputo.noSatisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataCentroDeComputo.satisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataCentroDeComputo.noSatisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataCentroDeComputo.satisfechoAmabilidad).toFixed(2)}}%</td>
                            <td>{{(dataCentroDeComputo.noSatisfechoAmabilidad).toFixed(2)}}%</td>
                        </tr>
                
                        <tr>
                            <td>Servicio Social</td>
                            <td>{{(dataServicioSocial.total)}}</td>
                            <td>{{(dataServicioSocial.satisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataServicioSocial.noSatisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataServicioSocial.satisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataServicioSocial.noSatisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataServicioSocial.satisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataServicioSocial.noSatisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataServicioSocial.satisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataServicioSocial.noSatisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataServicioSocial.satisfechoAmabilidad).toFixed(2)}}%</td>
                            <td>{{(dataServicioSocial.noSatisfechoAmabilidad).toFixed(2)}}%</td>
                        </tr>
                        
                        <tr>
                            <td>Residencias</td>
                            <td>{{(dataResidencias.total)}}</td>
                            <td>{{(dataResidencias.satisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataResidencias.noSatisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataResidencias.satisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataResidencias.noSatisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataResidencias.satisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataResidencias.noSatisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataResidencias.satisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataResidencias.noSatisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataResidencias.satisfechoAmabilidad).toFixed(2)}}%</td>
                            <td>{{(dataResidencias.noSatisfechoAmabilidad).toFixed(2)}}%</td>
                        </tr>

                        <tr>
                            <td>Idiomas</td>
                            <td>{{(dataIdiomas.total)}}</td>
                            <td>{{(dataIdiomas.satisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataIdiomas.noSatisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataIdiomas.satisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataIdiomas.noSatisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataIdiomas.satisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataIdiomas.noSatisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataIdiomas.satisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataIdiomas.noSatisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataIdiomas.satisfechoAmabilidad).toFixed(2)}}%</td>
                            <td>{{(dataIdiomas.noSatisfechoAmabilidad).toFixed(2)}}%</td>
                        </tr>

                        <tr>
                            <td>Cafeteria 1</td>
                            <td>{{(dataCafeteria1.total)}}</td>
                            <td>{{(dataCafeteria1.satisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataCafeteria1.noSatisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataCafeteria1.satisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataCafeteria1.noSatisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataCafeteria1.satisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataCafeteria1.noSatisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataCafeteria1.satisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataCafeteria1.noSatisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataCafeteria1.satisfechoAmabilidad).toFixed(2)}}%</td>
                            <td>{{(dataCafeteria1.noSatisfechoAmabilidad).toFixed(2)}}%</td>
                        </tr>
                        
                        <tr>
                            <td>Cafeteria 2</td>
                            <td>{{(dataCafeteria2.total)}}</td>
                            <td>{{(dataCafeteria2.satisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataCafeteria2.noSatisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataCafeteria2.satisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataCafeteria2.noSatisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataCafeteria2.satisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataCafeteria2.noSatisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataCafeteria2.satisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataCafeteria2.noSatisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataCafeteria2.satisfechoAmabilidad).toFixed(2)}}%</td>
                            <td>{{(dataCafeteria2.noSatisfechoAmabilidad).toFixed(2)}}%</td>
                        </tr>

                        <tr>
                            <td>Caja</td>
                            <td>{{(dataCaja.total)}}</td>
                            <td>{{(dataCaja.satisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataCaja.noSatisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataCaja.satisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataCaja.noSatisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataCaja.satisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataCaja.noSatisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataCaja.satisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataCaja.noSatisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataCaja.satisfechoAmabilidad).toFixed(2)}}%</td>
                            <td>{{(dataCaja.noSatisfechoAmabilidad).toFixed(2)}}%</td>
                        </tr>

                        <tr>
                            <td>Jefatura de division</td>
                            <td>{{(dataCoordinadorDeCarreras.total)}}</td>
                            <td>{{(dataCoordinadorDeCarreras.satisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataCoordinadorDeCarreras.noSatisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataCoordinadorDeCarreras.satisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataCoordinadorDeCarreras.noSatisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataCoordinadorDeCarreras.satisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataCoordinadorDeCarreras.noSatisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataCoordinadorDeCarreras.satisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataCoordinadorDeCarreras.noSatisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataCoordinadorDeCarreras.satisfechoAmabilidad).toFixed(2)}}%</td>
                            <td>{{(dataCoordinadorDeCarreras.noSatisfechoAmabilidad).toFixed(2)}}%</td>
                        </tr>

                        <tr>
                            <td>Becas</td>
                            <td>{{(dataBecas.total)}}</td>
                            <td>{{(dataBecas.satisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataBecas.noSatisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataBecas.satisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataBecas.noSatisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataBecas.satisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataBecas.noSatisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataBecas.satisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataBecas.noSatisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataBecas.satisfechoAmabilidad).toFixed(2)}}%</td>
                            <td>{{(dataBecas.noSatisfechoAmabilidad).toFixed(2)}}%</td>
                        </tr>

                        <tr>
                            <td>Centro de copiado</td>
                            <td>{{(dataCentroDeCopiado.total)}}</td>
                            <td>{{(dataCentroDeCopiado.satisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataCentroDeCopiado.noSatisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataCentroDeCopiado.satisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataCentroDeCopiado.noSatisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataCentroDeCopiado.satisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataCentroDeCopiado.noSatisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataCentroDeCopiado.satisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataCentroDeCopiado.noSatisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataCentroDeCopiado.satisfechoAmabilidad).toFixed(2)}}%</td>
                            <td>{{(dataCentroDeCopiado.noSatisfechoAmabilidad).toFixed(2)}}%</td>
                        </tr>

                        <tr>
                            <td>Psicologico</td>
                            <td>{{(dataPsicologico.total)}}</td>
                            <td>{{(dataPsicologico.satisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataPsicologico.noSatisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataPsicologico.satisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataPsicologico.noSatisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataPsicologico.satisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataPsicologico.noSatisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataPsicologico.satisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataPsicologico.noSatisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataPsicologico.satisfechoAmabilidad).toFixed(2)}}%</td>
                            <td>{{(dataPsicologico.noSatisfechoAmabilidad).toFixed(2)}}%</td>
                        </tr>

                        <tr>
                            <td>Medico</td>
                            <td>{{(dataMedico.total)}}</td>
                            <td>{{(dataMedico.satisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataMedico.noSatisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataMedico.satisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataMedico.noSatisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataMedico.satisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataMedico.noSatisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataMedico.satisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataMedico.noSatisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataMedico.satisfechoAmabilidad).toFixed(2)}}%</td>
                            <td>{{(dataMedico.noSatisfechoAmabilidad).toFixed(2)}}%</td>
                        </tr>

                        <tr>
                            <td>Asesorias academicas</td>
                            <td>{{(dataAsesoriasAcademicas.total)}}</td>
                            <td>{{(dataAsesoriasAcademicas.satisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataAsesoriasAcademicas.noSatisfechoTotal).toFixed(2)}}%</td>
                            <td>{{(dataAsesoriasAcademicas.satisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataAsesoriasAcademicas.noSatisfechoHorario).toFixed(2)}}%</td>
                            <td>{{(dataAsesoriasAcademicas.satisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataAsesoriasAcademicas.noSatisfechoDisponibilidad).toFixed(2)}}%</td>
                            <td>{{(dataAsesoriasAcademicas.satisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataAsesoriasAcademicas.noSatisfechoAtencion).toFixed(2)}}%</td>
                            <td>{{(dataAsesoriasAcademicas.satisfechoAmabilidad).toFixed(2)}}%</td>
                            <td>{{(dataAsesoriasAcademicas.noSatisfechoAmabilidad).toFixed(2)}}%</td>
                        </tr>
                    </tbody>
                   
                </table>
              </div>
          </div>
      </div>
    </div>

