mat-button-toggle-group {
    box-shadow: none;
    border: none;
  }
  
  mat-button-toggle-group {
    box-shadow: none;
  }
  
  mat-button-toggle {
    border: 1px rgba(0, 0, 0, 0) solid !important;
    margin-top: 5px !important;
    padding: 0 5px !important;
    z-index: 3 !important;
    filter: grayscale(100%);
  }
  
  mat-button-toggle:hover {
    /* border: 1px #000 solid !important; */
    background-color: #ffffff !important;
    border-radius: 5px !important;
    filter: grayscale(0);
  }
  
  .mat-button-toggle-checked {
    /* border: 1px #000 solid !important; */
    border-radius: 5px !important;
    background-color: #ffffff00;
    filter: grayscale(0);
  }
  
  .mat-button-toggle-input {
    background-color: none !important;
    padding-left: 32px !important;
  }
  
  .icono {
    width: 80px;
  }
  
  .azul {
    background-color: #57060c;
    color: #ffffff;
  }
  mat-progress-bar  {
    height: 15px;
}
::ng-deep .mat-progress-bar-fill::after {
  background-color: #9b8d41;
}
#container{
  margin-bottom: 60px;
}

mat-card{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}
mat-card button{
  background-color: #57060c;
  color: #ffffff;
}
.modal-header{
  background-color: #57060c;
  color: #ffffff;
}

.modal-footer button{
  background-color: #9b8d41;
  color: #ffffff;
}
.folio{
  font-weight: 900;
  color: #57060c;
}