<app-clubes></app-clubes>
<app-control-escolar></app-control-escolar>
<app-tutorias></app-tutorias>
<app-biblioteca></app-biblioteca>
<app-centro-de-computo></app-centro-de-computo>
<app-servicio-social></app-servicio-social>
<app-residencias></app-residencias>
<app-idiomas></app-idiomas>
<app-cafeteria1></app-cafeteria1>
<app-cafeteria2></app-cafeteria2>
<app-cajas></app-cajas>
<app-coordinador-de-carreras></app-coordinador-de-carreras>
<app-becas></app-becas>
<app-centro-de-copiado></app-centro-de-copiado>
<app-psicologico></app-psicologico>
<app-medico></app-medico>
<app-asesorias-academicas></app-asesorias-academicas>