<div class="container-fluid">
    <div class="row"><h1 class="text-center fw-bold">Servicios</h1></div>
    <div class="row mb-5"><app-clubes ></app-clubes></div>
    <div class="row mb-5"><app-control-escolar></app-control-escolar></div>
    <div class="row mb-5"><app-tutorias></app-tutorias></div>
<div class="row mb-5"><app-biblioteca></app-biblioteca></div>
<div class="row mb-5"><app-centro-de-computo></app-centro-de-computo></div>
<div class="row mb-5"><app-servicio-social></app-servicio-social></div>
<app-residencias></app-residencias>
<app-idiomas></app-idiomas>
<app-cafeteria1></app-cafeteria1>
<app-cafeteria2></app-cafeteria2>
<app-cajas></app-cajas>
<app-coordinador-de-carreras></app-coordinador-de-carreras>
<app-becas></app-becas>
<app-centro-de-copiado></app-centro-de-copiado>
<app-psicologico></app-psicologico>
<app-medico></app-medico>
<app-asesorias-academicas></app-asesorias-academicas>
</div>

