<div class="container-fluid">
    <div class="row"><h1 class="text-center fw-bold">Servicios</h1></div>
    <div class="row mb-5"><app-clubes ></app-clubes></div>
    <div class="row mb-5"><app-control-escolar></app-control-escolar></div>
    <div class="row mb-5"><app-tutorias></app-tutorias></div>
<div class="row mb-5"><app-biblioteca></app-biblioteca></div>
<div class="row mb-5"><app-centro-de-computo></app-centro-de-computo></div>
<div class="row mb-5"><app-servicio-social></app-servicio-social></div>
<app-residencias class="row mb-5"></app-residencias>
<app-idiomas class="row mb-5"></app-idiomas>
<app-cafeteria1 class="row mb-5"></app-cafeteria1>
<app-cafeteria2 class="row mb-5"></app-cafeteria2>
<app-cajas class="row mb-5"></app-cajas>
<app-coordinador-de-carreras class="row mb-5"></app-coordinador-de-carreras>
<app-becas class="row mb-5"></app-becas>
<app-centro-de-copiado class="row mb-5"></app-centro-de-copiado>
<app-psicologico class="row mb-5"></app-psicologico>
<app-medico class="row mb-5"></app-medico>
<app-asesorias-academicas class="row mb-5"></app-asesorias-academicas>
</div>

