  <div class="container-fluid">
    <div class="row">
        <div class="card col-12">
            <div class="card-header  card-header-icon">
              <div class="card-icon dorado">
                <i class="fa-solid fa-volleyball"></i>
              </div>
              <h1 class="fw-semibold">Clubes</h1>
              <p class="fw-medium">Encuestas realizadas {{total}}</p>
            </div>
              <div class="card-body pb-5">
                <div *ngIf="total > 0" class="chart-wrapper">
                    <canvas baseChart class="chart"
                    [data]="barChartData"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [type]="barChartType">,
                    [colors]="colors"
                  </canvas>
                  </div>
                  <div *ngIf="total ==0" class="my-5 text-center"><h2>Sin datos</h2></div>
              </div>
          </div>
      </div>
    </div>
