<div class="row justify-content-center text-center mb-5">
        <p class="h2">Encuestas realizadas</p>
    </div>
    <div class="row justify-content-center">
    
    <div class="col-lg-4 col-md-6 col-sm-8 col-10 mb-5" >
      <div class="card card-stats">
        <div class="card-header card-header-icon">
          <div class="card-icon bg-danger bg-gradient">
            <i class="material-icons">weekend</i>
          </div>
          <p class="card-category">General</p>
          <h3 class="card-title">{{datos[0].total}}</h3>
        </div>
        
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-8 col-10 mb-5">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon bg-info bg-gradient">
              <img src="../../../assets/carreras/sistemas.png" alt="" height="60">
            </div>
            <p class="card-category">Sistemas</p>
            <h3 class="card-title">{{datos[0].sistemas}}</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8 col-10 mb-5">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon rosa">
              <img src="../../../assets/carreras/mecatronica.jpg" alt="" height="60">
            </div>
            <p class="card-category">Mecatronica</p>
            <h3 class="card-title">{{datos[0].mecatronica}}</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8 col-10 mb-5">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon bg-secondary bg-gradient">
              <img src="../../../assets/carreras/industrial.png" alt="" height="60">
            </div>
            <p class="card-category">Industrial</p>
            <h3 class="card-title">{{datos[0].industrial}}</h3>
          </div>
          
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8 col-10 mb-5">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon bg-success bg-gradient">
              <img src="../../../assets/carreras/bioquminica.jpg" alt="" height="60">
            </div>
            <p class="card-category">Bioquimica</p>
            <h3 class="card-title">{{datos[0].bioquimica}}</h3>
          </div>
          
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8 col-10 mb-5">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon bg-primary">
              <img src="../../../assets/carreras/tics.png" alt="" height="60">
            </div>
            <p class="card-category">Tics</p>
            <h3 class="card-title">{{datos[0].tics}}</h3>
          </div>
          
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8 col-10 mb-5">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon bg-dark bg-gradient">
              <img src="../../../assets/carreras/gestion.jpg" alt="" height="60">
            </div>
            <p class="card-category">Gestion</p>
            <h3 class="card-title">{{datos[0].gestion}}</h3>
          </div>
          
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8 col-10 mb-5">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon bg-warning bg-gradient">
              <img src="../../../assets/carreras/nano.png" alt="" height="60">
            </div>
            <p class="card-category">Nanotecnología</p>
            <h3 class="card-title">{{datos[0].nano}}</h3>
          </div>
          
        </div>
      </div>